.button {
  background-image: radial-gradient(rgb(255, 255, 168), yellow);
}

.home-banner {
  background-image: url("https://t3.ftcdn.net/jpg/08/12/89/26/360_F_812892637_UZkBvNcf069Elv2t7j9344qvKnypcsOH.jpg");
  height: 60vh;
  background-size: 100% 100%;
}

.text-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.61), transparent);
}
